/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
  background-color: #ece5e5;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: white;
  color: black;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #d8cbb4;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faf9f7;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;

  margin-top: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: black;
}

/* Hero Section */
.hero {
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  padding: 4rem 4rem 0;
  background: linear-gradient(135deg, #ffffff, #ffffff); /* Optional background gradient */
  color: black;
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.hero-text button {
  padding: 0.8rem 1.5rem;
  background: rgb(106, 106, 106);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.3s;
}

.hero-text button:hover {
  background: grey;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  border-radius: 8px;
}

/* Sections */
.section {
  padding: 4rem 4rem 0;
  text-align: center;
}

.section h2 {
  color: #ce9a55;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Form */
form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.form-group {
  margin-bottom: 1.5rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input, form select, form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #e3b970;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #004494;
}

.success-message {
  display: none;
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}